In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd


import warnings
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("C:/Users/Admin/Documents/GitHub/machine_learning/dataset/multiple_linear_regression.csv", sep = ",")

<H1 style="color:Green"> Data_processing </H1>

In [3]:
df = df['Feature 1,Feature 2,Feature 3,Target'].str.split(",",expand = True)

In [4]:
df.columns = ['Feature 1','Feature 2','Feature 3','Target']

In [5]:
df.head()

  Feature 1 Feature 2 Feature 3 Target
0     230.1      37.8      69.2   22.1
1      44.5      39.3      45.1   10.4
2      17.2      45.9      69.3    9.3
3     151.5      41.3      58.5   18.5
4     180.8      10.8      58.4   12.9

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Feature 1  200 non-null    object
 1   Feature 2  200 non-null    object
 2   Feature 3  200 non-null    object
 3   Target     200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

In [7]:
df.dropna()

    Feature 1 Feature 2 Feature 3 Target
0       230.1      37.8      69.2   22.1
1        44.5      39.3      45.1   10.4
2        17.2      45.9      69.3    9.3
3       151.5      41.3      58.5   18.5
4       180.8      10.8      58.4   12.9
..        ...       ...       ...    ...
195      38.2       3.7      13.8    7.6
196      94.2       4.9       8.1    9.7
197       177       9.3       6.4   12.8
198     283.6        42      66.2   25.5
199     232.1       8.6       8.7   13.4

[200 rows x 4 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Feature 1  200 non-null    object
 1   Feature 2  200 non-null    object
 2   Feature 3  200 non-null    object
 3   Target     200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

<H1 style="color:Green">splitting data </H1>

In [9]:
#training data
x = df.iloc[:, 0:3]

y = df.iloc[:,3:4]

In [10]:
y

    Target
0     22.1
1     10.4
2      9.3
3     18.5
4     12.9
..     ...
195    7.6
196    9.7
197   12.8
198   25.5
199   13.4

[200 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=43)

In [12]:
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()

In [13]:
lr_model.fit(x_train, y_train)

LinearRegression()

In [14]:
predictions = lr_model.predict(x_test)

In [15]:
from sklearn.metrics import mean_squared_error
cost = mean_squared_error(y_test,predictions)
print(cost)

2.2412862530933477

In [16]:
lr_model.coef_

array([[ 0.0459782 ,  0.18092867, -0.00194226]])

In [17]:
lr_model.intercept_

array([3.0777745])

In [18]:
predicted_value = lr_model.predict(x_test)

In [19]:
from sklearn.metrics import mean_squared_error

cost = mean_squared_error(y_test, predicted_value)
print(cost)

2.2412862530933477