In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
df = pd.read_csv("C:/Users/Admin/Documents/GitHub/machine_learning/dataset/multiple_linear_regression.csv", sep = ",")

<H1 style="color:Green"> Data_processing </H1>

In [14]:
df = df['Feature 1,Feature 2,Feature 3,Target'].str.split(",",expand = True)

In [16]:
df.columns = ['Feature 1','Feature 2','Feature 3','Target']

In [21]:
df.head()

  Feature 1 Feature 2 Feature 3 Target
0     230.1      37.8      69.2   22.1
1      44.5      39.3      45.1   10.4
2      17.2      45.9      69.3    9.3
3     151.5      41.3      58.5   18.5
4     180.8      10.8      58.4   12.9

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Feature 1  200 non-null    object
 1   Feature 2  200 non-null    object
 2   Feature 3  200 non-null    object
 3   Target     200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

In [23]:
df.dropna()

    Feature 1 Feature 2 Feature 3 Target
0       230.1      37.8      69.2   22.1
1        44.5      39.3      45.1   10.4
2        17.2      45.9      69.3    9.3
3       151.5      41.3      58.5   18.5
4       180.8      10.8      58.4   12.9
..        ...       ...       ...    ...
195      38.2       3.7      13.8    7.6
196      94.2       4.9       8.1    9.7
197       177       9.3       6.4   12.8
198     283.6        42      66.2   25.5
199     232.1       8.6       8.7   13.4

[200 rows x 4 columns]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Feature 1  200 non-null    object
 1   Feature 2  200 non-null    object
 2   Feature 3  200 non-null    object
 3   Target     200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

<H1 style="color:Green">splitting data </H1>

In [29]:
#training data
train_input = df.iloc[:150, 0:3]
train_output = df.iloc[:150, 3:4]

#test data
test_input = df.iloc[150:, 0:3]
test_output = df.iloc[150:, 3:4]

In [31]:
test_output

    Target
150   16.1
151   11.6
152   16.6
153     19
154   15.6
155    3.2
156   15.3
157   10.1
158    7.3
159   12.9
160   14.4
161   13.3
162   14.9
163     18
164   11.9
165   11.9
166      8
167   12.2
168   17.1
169     15
170    8.4
171   14.5
172    7.6
173   11.7
174   11.5
175     27
176   20.2
177   11.7
178   11.8
179   12.6
180   10.5
181   12.2
182    8.7
183   26.2
184   17.6
185   22.6
186   10.3
187   17.3
188   15.9
189    6.7
190   10.8
191    9.9
192    5.9
193   19.6
194   17.3
195    7.6
196    9.7
197   12.8
198   25.5
199   13.4